name: Build and Release artifact

on:
  push:
    branches: [
      "main"
    ]
    paths: [
      "HeapOverflow.CLI/src/**",
    ]

  workflow_dispatch:

defaults:
  run:
    working-directory: HeapOverflow.CLI

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package -DskipTests

  release:
    name: Release jar file
    runs-on: ubuntu-latest

    needs: build
 
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package -DskipTests

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "LICENSE,HeapOverflow.CLI/target/*.jar,decrypt_and_run.bat,decrypt_and_run.sh"
          generateReleaseNotes: true
          name: "v3.0.0-SNAPSHOT"
          tag: "v3.0.0"
          draft: true
